<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Pim Bliek</h2>
                <hr class="light">
                <p class="text-faded">Projectmanagement & Advies</p>
		<p class=text">Mijn naam is Pim Bliek (1975) en ik ben Consultant op strategisch en tactisch niveau, met stevige wortels in de techniek. Ik verbind mensen, processen en techniek en ben werkzaam voor bedrijfsleven en overheid.<hr>
Ik help organisaties met verbetering van de beheer- en ontwikkelprocessen, projectleiding en -management en (digitale) dienstverlening. Ik hou me bezig met advies en het oplossen van vraagstukken rond projectmanagement, aanbestedingen, open source software, open standaarden, open data, digitale democratie, participatie, informatiemanagement en nog veel meer.<hr>
Ik doorzie processen en maak ze inzichtelijk, verbind nieuwe mogelijkheden en toon ze, gekoppeld aan de mogelijkheden en bestuurlijke doelen van de organisatie. Ik ga op zoek naar draagvlak, vind deze, adviseer, inspireer, enthousiasmeer en implementeer.</p>
                <a href="#contact" class="btn btn-default btn-xl">Neem contact op</a>
            </div>
        </div>
    </div>
</section>
