<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Bakkie doen? Neem contact op!</h2>
                <hr class="primary">
                <p>Wil je eens vrijblijvend verkennen wat ik voor je organisatie kan betekenen? Neem contact op en we maken een afspraak.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
		KvK-nummer: 34189852
	    </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                BTW-nummer: NL001376735B44
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="{{ site.url }}/downloads/Algemene_Voorwaarden_PingWings.pdf">Algemene Voorwaarden</a>
        </div>

    </div>
</section>
