<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Pim Bliek</h1>
            <hr>
            <p>Zoek je een doorgewinterde projectmanager of adviseur met dik 20 jaar ervaring met technologie, bedrijfsleven en overheid? Ik heb een goed ontwikkelde bullshit-antenne en heb last van buzzword-jeuk. Ik zie door de bomen het bos en zorg voor een gedragen oplossing die werkt. Ik kan goed omgaan met (politieke) sensitiviteit, help met het vinden van draagvlak en ik ontwar de technische knoop.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Ik wil meer weten!</a>
        </div>
    </div>
</header>
