<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#contact" class="portfolio-box">
                    <img src="img/portfolio/dia.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Advies
                            </div>
                            <div class="project-name">
                                Open Digitale Participatie, Democratie in Actie - Ministerie van Binnenlandse Zaken en Koninkrijksrelaties
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#contact" class="portfolio-box">
                    <img src="img/portfolio/vngr.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Projectmanagement
                            </div>
                            <div class="project-name">
                                Open Raadsinformatie - VNG Realisatie
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#contact" class="portfolio-box"> 
                    <img src="img/portfolio/dso.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Programmamanagement
                            </div>
                            <div class="project-name">
                                Uitvoeringsprogramma Informatie Voorziening Omgevingswet - Interbestuurlijk
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#contact" class="portfolio-box">
                    <img src="img/portfolio/ing.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                DevOps & Projectmanagement
                            </div>
                            <div class="project-name">
                                Know Your Customer development - ING Bank N.V.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#contact" class="portfolio-box">
                    <img src="img/portfolio/bonusan.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Informatiemanagement a.i.
                            </div>
                            <div class="project-name">
                                Bonusan B.V.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#contact" class="portfolio-box">
                    <img src="img/portfolio/oij.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Advies & Projectmanagement
                            </div>
                            <div class="project-name">
                                Digitale dienstverlening - Gemeente Oude IJsselstreek
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
